* {
    box-sizing: border-box;
    margin: 0 auto;
}

body{
	background-color: hsl(257, 40%, 49%);
	background-image:url('images/bg-desktop.svg');
}

.container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 0 auto;
	
}

.col-2{
	padding: 30px;
	margin-top: 140px;
	color: white;
}

.text{
	font-weight:400;
	font-size: 17px;
	font-family: 'Open Sans', sans-serif;
}

.heading{
	padding-bottom:20px;
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
}

button{
	margin-top: 50px;
	font-size: 20px;
	padding: 15px;
	width: 175px;
	border-radius: 50px;
	color: hsl(257, 40%, 49%);

}

button:hover{
	background-color: hsl(300, 69%, 71%);
	color: white;
	cursor: pointer;
}

.social{
	padding: 15px;
	padding-top: 90px;
	padding-left: 250px;
	justify-content: right;
}

.fab{
	padding: 10px;
}

.fab:hover{
	color: hsl(300, 69%, 71%);
	cursor: pointer;
}

.illustration{
	padding: 30px;
	margin: 10px;
}

@media  (max-width: 500px) {
  .container {
    display: grid;
	grid-template-columns: 1fr;
	margin: 0 auto;
	
  }
}

